.container {
   padding-left: 20px;
   padding-right: 20px;
}
.navbar {
   height: auto;
   padding-top: 1.5rem;
   .container {
      flex-direction: column;
      nav {
         margin-top: 1rem;
         padding: 0.5rem 1rem;
         background-color: rgba(0, 0, 0, 0.1);
      }
   }
}
footer {
   .container {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto 50px;
      justify-items: start;
      .social {
         grid-column-start: 1;
         grid-row-start: 2;
         align-self: end;
         > a {
            font-size: 1.5rem;
         }
      }
   }
}
