@mixin d-flex(
   $justify-content: flex-start,
   $align-items: flex-start,
   $direction: row
) {
   display: flex;
   justify-content: $justify-content;
   align-items: $align-items;
   flex-direction: $direction;
}
// ################################################

@mixin d-grid(
   $grid-template-columns,
   $gap,
   $justify-content: null,
   $align-items: null
) {
   display: grid;
   grid-template-columns: $grid-template-columns;
   gap: $gap;
   justify-content: $justify-content;
   align-items: $align-items;
}
